.aside {
	max-width: rem-calc(300);
	min-width: rem-calc(300);
	height: 100svh;
	padding: var(--default-padding);
	border-right: 2px solid var(--color-border);
	transition: all var(--transition-slow);
}
