.form {
	&__group {
		margin-bottom: 1rem;
	}

	&__label {
		color: var(--color-text-primary);
		font-size: 0.875rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	&__input {
		padding: 0.625rem 1rem;
		border-radius: 0.75rem;
		border: 2px solid var(--color-border);
		background: var(--color-surface);
		color: var(--color-text-primary);
		font-size: 0.9375rem;
		font-weight: 500;
		outline: none;
		cursor: pointer;
		transition: 0.2s;
		background-size: 1rem;
	}

	&__helper-error {
		& li {
			color: var(--color-status-cancelled);
		}
	}
}
