.form {
	&__group {
		margin-bottom: 1rem;
		position: relative;
	}

	&__label {
		color: var(--color-text-primary);
		font-size: 0.875rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	&__input,
	&__time {
		padding: 0.625rem 1rem;
		border-radius: 0.75rem;
		border: 2px solid var(--color-border);
		background: var(--color-surface);
		color: var(--color-text-primary);
		font-size: 0.9375rem;
		font-weight: 500;
		outline: none;
		cursor: pointer;
		transition: 0.2s;
		background-size: 1rem;
	}

	&__time::-webkit-calendar-picker-indicator {
		opacity: 1;
		position: absolute;
		width: 82%;
		left: 10%;
		color: #fff;
		cursor: pointer;
		filter: invert(40%) sepia(61%) saturate(950%) hue-rotate(207deg) brightness(95%) contrast(99%); // i hate this developers who think this is a good idea
	}

	&__helper-error {
		& li {
			color: var(--color-status-cancelled);
		}
	}

	&__select {
		appearance: none;
		padding: 0.625rem 1rem;
		border-radius: 0.75rem;
		border: 2px solid var(--color-border);
		background: var(--color-surface);
		color: var(--color-text-primary);
		font-size: 0.9375rem;
		font-weight: 500;
		outline: none;
		cursor: pointer;
		transition: 0.2s;
		background-image: url(./../images/svg/arrow.svg);
		background-repeat: no-repeat;
		background-position: right;
		background-position-x: 99%;
		background-position-y: 53%;
		background-size: 1rem;
	}

	&__checkbox {
		width: 20px;
  		height: 20px;
		accent-color: var(--color-status-lecture);
	}
}