.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid var(--color-border);
	transition: var(--transition-base);

	&__left {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-left: 1.2rem;
	}

	&__right {
		margin-right: 1.2rem;
	}

	&__title {
		margin: 0;
	}

	&__sub-title {
		margin: 0;
	}
}
