.icon {
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all var(--transition-slow);

	&_purple {
		background-color: var(--color-icon-bg-primary);
		color: var(--color-white);
	}

	&_blue {
		background-color: var(--color-status-practice);
		color: var(--color-white);
	}

	&_warning {
		background-color: var(--color-status-replacement);
		color: var(--color-white);
	}

	&_no-bg {
		padding: 0;
		width: 20px;
		height: 20px;

		& svg {
			color: var(--color-icon-no-bg);
		}
	}

	& svg {
		flex-shrink: 0;
	}
}
