.schedule {
	margin: var(--default-margin);

	&__select {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1rem;
	}

	&__week {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 1rem;

		@media (max-width: map-get($breakpoints, xxl)) {
			grid-template-columns: repeat(6, 1fr);
		}

		@media (max-width: map-get($breakpoints, xl)) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media (max-width: map-get($breakpoints, l)) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (max-width: map-get($breakpoints, md)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: map-get($breakpoints, xs)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__header {
		padding: 0.5rem 0;
		border-bottom: 2px solid var(--color-border);

		& p,
		& h4 {
			padding-inline: 0.5rem;
		}
	}

	&__body {
		padding: 1rem 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__type {
		& p {
			width: max-content;
			padding: 0.2rem 0.4rem;
			border-radius: 1rem;
			background-color: var(--color-lecture);
			font-size: 0.875rem;
			color: var(--color-white);
			font-weight: 600;
		}
	}

	&__info {
		margin: -0.5rem;
	}

	&__block {
		border-radius: 1rem;
		border: 2px solid var(--color-border);
		padding: 0.5rem 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&_LECTION,
		&_ONLINE {
			background: var(--color-bg-lecture);

			& .schedule__time svg {
				stroke: var(--color-status-lecture);
			}

			& .schedule__type p {
				background: var(--color-status-lecture);
			}
		}

		&_PRACTICUM,
		&_PRACTICAL {
			background: var(--color-bg-practice);

			& .schedule__time svg {
				stroke: var(--color-status-practice);
			}

			& .schedule__type p {
				background: var(--color-status-practice);
			}
		}

		&_LAB,
		&_lab {
			background: var(--color-bg-lab);

			& .schedule__time svg {
				stroke: var(--color-status-lab);
			}

			& .schedule__type p {
				background: var(--color-status-lab);
			}
		}

		&_SEMINAR,
		&_seminar {
			background: var(--color-bg-seminar);

			& .schedule__time svg {
				stroke: var(--color-status-seminar);
			}

			& .schedule__type p {
				background: var(--color-status-seminar);
			}
		}

		&_CONSULTATION {
			background: var(--color-bg-consultation);

			& .schedule__time svg {
				stroke: var(--color-status-consultation);
			}

			& .schedule__type p {
				background: var(--color-status-consultation);
			}
		}

		&_EXAM {
			background: var(--color-bg-exam);

			& .schedule__time svg {
				stroke: var(--color-status-exam);
			}

			& .schedule__type p {
				background: var(--color-status-exam);
			}
		}

		&_CREDIT {
			background: var(--color-bg-credit);

			& .schedule__time svg {
				stroke: var(--color-status-credit);
			}

			& .schedule__type p {
				background: var(--color-status-credit);
			}
		}

		&_WORKSHOP {
			background: var(--color-bg-workshop);

			& .schedule__time svg {
				stroke: var(--color-status-workshop);
			}

			& .schedule__type p {
				background: var(--color-status-workshop);
			}
		}

		&_INDEPENDENT {
			background: var(--color-bg-independent);

			& .schedule__time svg {
				stroke: var(--color-status-independent);
			}

			& .schedule__type p {
				background: var(--color-status-independent);
			}
		}

		&_INTERNSHIP {
			background: var(--color-bg-internship);

			& .schedule__time svg {
				stroke: var(--color-status-internship);
			}

			& .schedule__type p {
				background: var(--color-status-internship);
			}
		}

		&_CONTROL {
			background: var(--color-bg-control);

			& .schedule__time svg {
				stroke: var(--color-status-control);
			}

			& .schedule__type p {
				background: var(--color-status-control);
			}
		}

		&_COLLOQUIUM {
			background: var(--color-bg-colloquium);

			& .schedule__time svg {
				stroke: var(--color-status-colloquium);
			}

			& .schedule__type p {
				background: var(--color-status-colloquium);
			}
		}

		&_COURSE_PROJECT {
			background: var(--color-bg-course-project);

			& .schedule__time svg {
				stroke: var(--color-status-course-project);
			}

			& .schedule__type p {
				background: var(--color-status-course-project);
			}
		}

		&_replacement {
			background: var(--color-bg-replacement);

			& .schedule__time svg {
				stroke: var(--color-status-replacement);
			}

			& .schedule__type p {
				background: var(--color-status-replacement);
			}

			& .schedule__info p {
				color: var(--color-status-replacement);
			}
		}

		&_cancelled {
			background: var(--color-bg-cancelled);

			& .schedule__time svg {
				stroke: var(--color-status-cancelled);
			}

			& .schedule__type p {
				background: var(--color-status-cancelled);
			}

			& .schedule__subject {
				text-decoration: line-through;
			}

			& .schedule__info p {
				color: var(--color-status-cancelled);
			}
		}

		&_online {
			background: var(--color-bg-online);

			& .schedule__time svg {
				stroke: var(--color-status-online);
			}

			& .schedule__type p {
				background: var(--color-status-online);
			}
		}
	}

	&__time {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		& p {
			font-size: 0.875rem;
			margin-bottom: 0;
			font-weight: 600;
		}

		& svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&__subject {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.4;
	}

	&__teacher,
	&__room {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		& svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&__info {
		border-top: 2px solid var(--color-border);
		padding: .2rem .4rem .4rem;
		margin-top: .2rem;

		& p {
			font-size: 0.875rem;
		}
	}
}
