@import "./normalaize/normalaize";

// utils css
@import "./utils/variables";
@import "./utils/color-scheme";
@import "./utils/helpers";
@import "./utils/mixins";

// blocks css
@import "./blocks/icon";
@import "./blocks/button";
@import "./blocks/header";
@import "./blocks/filters";
@import "./blocks/schedule";

// admin
@import "./blocks/login";
@import "./blocks/register";
@import "./blocks/form";
@import "./blocks/alert";
@import './blocks/menu';
@import './blocks/aside';
@import './blocks/wiget';

