.schedule {
    margin: 1rem 1.2rem;

    & .schedule__select {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    & .schedule__week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

    }

    & .schedule__item {
        border: 2px solid var(--color-border);
        border-radius: 1.5rem;
        background-color: var(--color-surface);
    }

    & .schedule__header {
        padding: .5rem 0;
        border-bottom: 2px solid var(--color-border);

        & p,
        & h4 {
            padding-inline: .5rem;
        }
    }

    & .schedule__body {
        padding: 1rem .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & .schedule__type {
        & p {
            width: max-content;
            padding: .2rem .4rem;
            border-radius: 1rem;
            background-color: var(--color-lecture);
            font-size: 0.875rem;
            color: var(--color-white);
            font-weight: 600;
        }
    }

    & .schedule__block {
        border-radius: 1rem;
        border: 2px solid var(--color-border);
        padding: 0.5rem .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &.schedule__block_lecture {
            background: var(--color-bg-lecture);

            & .schedule__time svg {
                stroke: var(--color-status-lecture);
            }

            & .schedule__type p {
                background: var(--color-status-lecture);
            }
        }

        &.schedule__block_practice {
            background: var(--color-bg-practice);

            & .schedule__time svg {
                stroke: var(--color-status-practice);
            }

            & .schedule__type p {
                background: var(--color-status-practice);
            }
        }

        &.schedule__block_lab {
            background: var(--color-bg-lab);

            & .schedule__time svg {
                stroke: var(--color-status-lab);
            }

            & .schedule__type p {
                background: var(--color-status-lab);
            }
        }

        &.schedule__block_seminar {
            background: var(--color-bg-seminar);

            & .schedule__time svg {
                stroke: var(--color-status-seminar);
            }

            & .schedule__type p {
                background: var(--color-status-seminar);
            }
        }

        &.schedule__block_replacement {
            background: var(--color-bg-replacement);

            & .schedule__time svg {
                stroke: var(--color-status-replacement);
            }

            & .schedule__type p {
                background: var(--color-status-replacement);
            }
        }

        &.schedule__block_cancelled {
            background: var(--color-bg-cancelled);

            & .schedule__time svg {
                stroke: var(--color-status-cancelled);
            }

            & .schedule__type p {
                background: var(--color-status-cancelled);
            }
        }

        &.schedule__block_online {
            background: var(--color-bg-online);

            & .schedule__time svg {
                stroke: var(--color-status-online);
            }

            & .schedule__type p {
                background: var(--color-status-online);
            }
        }
    }

    & .schedule__time {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & p {
            font-size: 0.875rem;
            margin-bottom: 0;
            font-weight: 600;
        }

        & svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    & .schedule__subject {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.4;
    }

    & .schedule__teacher,
    & .schedule__room {
        display: flex;
        align-items: center;
        gap: .5rem;

        & svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}