.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-space-beetwen {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-start {
	text-align: start;
}

.text-end {
	text-align: end;
}

.hide {
	display: none !important;
}

.w-100 {
	width: 100%;
}

.lh-1 {
	line-height: 1;
}

.d-grid {
	display: grid;
}

$spaces: (
  1: .5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem
);

$max-grid-cols: 8;

$utils: (
  mt: margin-top,
  mb: margin-bottom,
  pt: padding-top,
  pb: padding-bottom,
  gap: gap
);

@each $prefix, $property in $utils {
  @each $k, $val in $spaces {
    .#{$prefix}-#{$k} {
      #{$property}: $val;
    }
  }
}

@for $i from 1 through $max-grid-cols {
  @if $i == 1 {
    .grid-col {
      grid-template-columns: repeat(1, 1fr);
    }
  } @else {
    .grid-col-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}