.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-space-beetwen {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}
