.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-space-beetwen {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-start {
	text-align: start;
}

.text-end {
	text-align: end;
}

.mt-1 {
	margin-top: .5rem;
}

.mt-2 {
	margin-top: 1rem;
}

.mt-3 {
	margin-top: 1.5rem;
}

.mt-4 {
	margin-top: 2rem;
}

.mt-5 {
	margin-top: 2.5rem;
}

.mb-1 {
	margin-bottom: .5rem;
}

.mb-2 {
	margin-bottom: 1rem;
}

.mb-3 {
	margin-bottom: 1.5rem;
}

.mb-4 {
	margin-bottom: 2rem;
}

.pt-1 {
	padding-top: .5rem;
}

.pt-2 {
	padding-top: 1rem;
}

.pt-3 {
	padding-top: 1.5rem;
}

.pt-4 {
	padding-top: 2rem;
}

.pb-1 {
	padding-bottom: .5rem;
}

.pb-2 {
	padding-bottom: 1rem;
}

.pb-3 {
	padding-bottom: 1.5rem;
}

.pb-4 {
	padding-bottom: 2rem;
}

.hide {
	display: none !important;
}

.w-100 {
	width: 100%;
}